body {
padding: 15px;
border-radius: 10px;
margin: 10px 0;
cursor: pointer;
transition: 0.3s;
}


.exercise-card:hover {
background: rgba(255, 0, 0, 0.3);
transform: scale(1.02);
}


#details {
background: rgba(255, 255, 255, 0.04);
padding: 20px;
border-radius: 15px;
}


/* Modal */
.modal {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.8);
display: flex;
align-items: center;
justify-content: center;
}


.modal.hidden {
display: none;
}


.modal-content {
background: #1a1a1a;
padding: 20px;
border-radius: 12px;
text-align: center;
width: 90%;
max-width: 400px;
}


.modal-content img {
width: 100%;
border-radius: 10px;
margin-bottom: 15px;
}


.close {
float: right;
cursor: pointer;
font-size: 28px;
color: #ff4444;
}
